/* Dunkelmodus */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Hellmodus */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body {
    font-family: 'Fira Code', monospace;
    transition: background-color 0.3s, color 0.3s;
}

/* Formular-Container für zentriertes Layout */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Vollständige Höhe des Viewports */
    text-align: center;
    margin-top: -4%; /* Formular um 5% nach oben verschieben */
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px; /* Maximalbreite des Formulars */
    width: 100%;
}

.input-container {
    margin: 15px 0; /* Abstand zwischen den Eingabefeldern */
    width: 100%; /* Breite innerhalb des Formulars */
    max-width: 400px; /* Maximalbreite für größere Bildschirme */
    text-align: left; /* Beschriftungen links ausrichten */
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em; /* Schriftgröße der Beschriftungen */
}

.input-field {
    padding: 10px; /* Eingabefelder etwas kleiner */
    font-size: 0.9em; /* Schriftgröße der Eingabefelder */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Vollständig verfügbare Breite innerhalb des Containers */
    box-sizing: border-box; /* Boxmodell einbeziehen */
}

/* Allgemeine Button-Stile */
.button {
    padding: 10px 20px;
    border: none;
    background-color: #343344;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #34495e;
    transform: scale(1.05);
}

/* Große Button-Stile */
.button-large {
    padding: 15px 30px; /* Größere Polsterung */
    font-size: 1.2em; /* Größere Schriftgröße */
    border-radius: 10px; /* Abgerundete Ecken */
}

/* Fehler- und Erfolgsmeldungen */
.error-message {
    color: red;
}

.success-message {
    color: green;
}

/* Modus-Wechsel-Button */
#modeToggle {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #87CEEB;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

body.dark-mode #modeToggle {
    background-color: #2c3e50;
    color: #ecf0f1;
}

/* Symbole für Tag- und Nachtmodus */
.sun-icon::before {
    content: '☀️';
}

.moon-icon::before {
    content: '🌙';
}

/* Überschriften-Stile */
h1 {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 3.5em;
    margin-top: 80px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 2.8em; /* 20% kleiner als h1 */
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 2.24em; /* 20% kleiner als h2 */
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 1.8em; /* 20% kleiner als h2 */
    margin-top: 25px;
    margin-bottom: 15px;
}

/* Einführungstext */
.intro-text {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 1.5em;
    margin: 10px 20px;
}

/* Bildstil und Zentrierung */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container-big {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container-big img {
    max-width: 50%;
    height: 66.6%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover-Effekte auf beide Image-Container anwenden */
.image-container img:hover,
.image-container-big img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Stil für den Trennstrich zwischen den Bildern */
.divider {
    border: none;
    border-top: 2px solid #e0e0e0; /* Farbe des Trennstrichs, anpassbar je nach Design */
    /* Abstand zum vorherigen/nächsten Element */
    width: 60%; /* Breite des Trennstrichs, anpassbar */
    margin: 40px auto;
}

body.dark-mode .divider {
    border-top-color: #555; /* Anpassung der Farbe für den Dark Mode */
}

/* GitHub-Button links oben */
.github-button {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Projekte-Button rechts oben */
.projects-button {
    position: fixed;
    top: 10px;
    right: 10px;
}
