<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Passwort ändern</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="dark-mode">
<div class="form-container">
    <h1>Passwort ändern</h1>
    <form th:action="@{/user/changePassword}" th:object="${passwordChangeRequest}" method="post" class="form-content">
        <div class="input-container">
            <label for="currentPassword">Aktuelles Passwort</label>
            <input type="password" id="currentPassword" th:field="*{currentPassword}" class="input-field" required>
        </div>
        <div class="input-container">
            <label for="newPassword">Neues Passwort</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" class="input-field" required>
        </div>
        <div class="input-container">
            <label for="confirmPassword">Neues Passwort bestätigen</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="input-field" required>
        </div>
        <button type="submit" class="button button-large">Passwort ändern</button>
    </form>

    <div th:if="${error}">
        <p class="error-message" th:text="${error}"></p>
    </div>
    <div th:if="${success}">
        <p class="success-message" th:text="${success}"></p>
    </div>
</div>
</body>
</html>
