<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Lukas Diettrich</title>
    <style>
        body{
            background: black;
        }

        .h1-container
        {
            color:     limegreen;
            position:  absolute;
            top:       0;
            left:      50%;
            transform: translate(-50%, -50%);
        }

        .central-text {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        <div class="h1-container">
            <div class="central-text">Hello there</div>
        </div>
    </h1>
</body>
</html>
